.ModuleFrontPageboxContainerProductsFavorites {
  padding-left: 0rem;
  padding-top: 0.625rem;
  padding-right: 0rem;
}


.ModuleFrontPageProductsFavoritesHeading h2 {
  font-size:1.25rem;

  padding-left: 0.625rem;
}

